<div id="page-wrapper" >
  <div class="row">
      <div class="col-lg-12">
          <h3 class="page-header">Профиль</h3>
      </div>
      <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-calendar fa-fw"></i> Недельный план</div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                              <th>#</th>
                              <th>Понедельник</th>
                              <th>Вторник</th>
                              <th>Среда</th>
                              <th>Четверг</th>
                              <th>Пятница</th>
                              <th>Суббота</th>
                              <th>Воскресенье</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="col-xs-1">Зарядка</td>
                                <td class="col-xs-1"><input type="checkbox" ng-model="data.monday.workout"></td>
                                <td class="col-xs-1"><input type="checkbox" ng-model="data.tuesday.workout"></td>
                                <td class="col-xs-1"><input type="checkbox" ng-model="data.wednesday.workout"></td>
                                <td class="col-xs-1"><input type="checkbox" ng-model="data.thursday.workout"></td>
                                <td class="col-xs-1"><input type="checkbox" ng-model="data.friday.workout"></td>
                                <td class="col-xs-1"><input type="checkbox" ng-model="data.shatterday.workout"></td>
                                <td class="col-xs-1"><input type="checkbox" ng-model="data.sunday.workout"></td>
                            </tr>
                            <tr>
                                <td class="col-xs-1">Подтягивание</td>
                                <td class="col-xs-1"><input type="checkbox" ng-model="data.monday.pullUp"></td>
                                <td class="col-xs-1"><input type="checkbox" ng-model="data.tuesday.pullUp"></td>
                                <td class="col-xs-1"><input type="checkbox" ng-model="data.wednesday.pullUp"></td>
                                <td class="col-xs-1"><input type="checkbox" ng-model="data.thursday.pullUp"></td>
                                <td class="col-xs-1"><input type="checkbox" ng-model="data.friday.pullUp"></td>
                                <td class="col-xs-1"><input type="checkbox" ng-model="data.shatterday.pullUp"></td>
                                <td class="col-xs-1"><input type="checkbox" ng-model="data.sunday.pullUp"></td>
                            </tr>
                            <tr>
                                <td class="col-xs-1">Пресс</td>
                                <td class="col-xs-1"><input type="checkbox" ng-model="data.monday.abdominal"></td>
                                <td class="col-xs-1"><input type="checkbox" ng-model="data.tuesday.abdominal"></td>
                                <td class="col-xs-1"><input type="checkbox" ng-model="data.wednesday.abdominal"></td>
                                <td class="col-xs-1"><input type="checkbox" ng-model="data.thursday.abdominal"></td>
                                <td class="col-xs-1"><input type="checkbox" ng-model="data.friday.abdominal"></td>
                                <td class="col-xs-1"><input type="checkbox" ng-model="data.shatterday.abdominal"></td>
                                <td class="col-xs-1"><input type="checkbox" ng-model="data.sunday.abdominal"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg12 -->
  </div>
</div>
<!-- /#page-wrapper -->


